# — 忽略文件：不打进镜像
node_modules
dist
.build
.cache

# 数据/部署/日志
deploy/backend/node_modules
*.log
.DS_Store

# IDE / Editor
.idea
.vscode

# Docker 自身
Dockerfile
.dockerignore
deploy/README.md

# 隐藏文件
.git
.gitignore
